/* Dark-blue Gradient #0C164D #190B22
/* Sun #FFD029
/* Ellipse 2 background: #888888;
   Ellipse 3 background: #E7CDCD;
   Ellipse 4 background: #428ED4;
   Ellipse 5 background: #EF5F5F;
   Ellipse 6 background: #E29468;
   Ellipse 7 background: #C7AA72;
   Ellipse 8 background: #C9D4F1;
   Ellipse 9 background: #7A91A7;
   Ellipse 10 background: rgba(255, 255, 255, 0.4);

   LOGO
    SOLSYSTEMET background: rgba(255, 255, 255, 1);
                font-family: Secular One;
                font-size: 60px;
                font-weight: 400;
                line-height: 60px;
                letter-spacing: 0.09em;
                text-align: right;
                width: 625px;
                height: 60px;
    SOLARIS     background: rgba(255, 208, 41, 1);
                font-family: Lora;
                font-size: 24px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.6em;
                text-align: right;
                width: 625px;
                height: 24px;
*/